
.siteName {
    display: flex;
    justify-content: flex-start;

    font-family: Roboto;
    font-size: 24px;    
    margin-left: 20px;
    text-decoration: underline;

}

.linkLoginRegister {
    display: flex;
    justify-content: flex-end;

    font-family: Roboto;
    float: right;
    font-size: 18px;
    font-weight: bold;

}

.Button {
    background-color: 'blue';
    color: 'white';
}
