
/* !Navigation Header */
.siteName {
  display: flex;
  justify-content: flex-start;

  color: blue;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}
.logOut {
  display: flex;

  color: blue;
  text-decoration: none;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
}
.linkLoginRegister {
  display: flex;
  justify-content: flex-end;

  color: blue;
  text-decoration: none;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
}

/* !Hello User */
.helloUser {
  margin-top: 0.5em;
  margin-left: 1em;
  color: blue;
  font-family: 'Roboto';
}

/* !Loading */
#loading {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  backdrop-filter: blur(3px);
  background: gray;

  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
}
#loading .message {
  min-width: 480px;
  padding: 3rem;

  box-shadow: 0 2px 8px blue;
  background: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*!POSTS*/
.postsHeading {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.postsBody {
  margin-left: 1em;
}
.viewPostsButton {
  cursor: pointer;
  border: 1px solid blue;
  color: blue;
  background-color: white;
}
.singlePost {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

/*!ACCOUNT FORM*/
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formTitle {
  margin-top: 30px;
  margin-bottom: 15px;
}
.inputUsername {
  margin: 15px;
  padding: 0.25em;
  outline: 1px solid black;
}
.inputPassword {
  margin: 15px;
  padding: 0.25em;
  outline: 1px solid black;
}
.switchTo {
  margin: 30px;
}
